
  .MuiTableContainer-root{
    border-radius: 20px !important;
    font-family: 'iransans' !important;
  
  }

  .MuiTableCell-root{
      padding: 10px 0px !important;
      text-align: center !important;
      font-size: 16px !important;
  }