
  .register-finish-box_green {
    width: 100%;
    height: 190px;
    background-color: hsla(150, 56%, 44%, 0.116);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #31af70;
    font-size: 14px;
    padding: 5px;
  }
  .register-finish-box_blue {
    width: 100%;
    height: auto;
    margin-top: 15px;
    background-color: hsla(208, 100%, 56%, 0.11);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    // align-items: center;
    color: #2198ff;
    font-size: 14px;
    padding: 20px;
    p{
      max-width: fit-content;
    }
  }
  .register-finish-footer-button-active {
    width: 245px !important;
    height: 50px !important;
    background-color: #ef6d22 !important;
    border-radius: 5px !important;
    color: #ffffff !important;
    font-size: 16px !important;
    &:hover {
      color: #ffffff !important;
      background-color: #e25605 !important;
    }
  }
  @media (  -width: 310px) and (max-width: 767px) {
    .register-finish-main {
      width: 100%;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      box-shadow: 0px 0px 86px 0px rgba(0, 0, 0, 0.13);
    }
    .register-finish-box_green {
      width: 95%;
      margin : auto;
      font-size: 14px;
    }
    .register-finish-box_blue {
      padding: 20px 20px;
      font-size: 14px;
    }
    .register-finish-footer-button-active {
      width: 140px !important;
      height: 45px;
      font-size: 14px !important;
    }
  }
  // @media (min-width: 768px) and (max-width: 1200px) {
  
  //   .register-finish-footer-button-active {
  //     width: 200px !important;
  //     height: 40px;
  //     font-size: 14px !important;
  //   }
  // }
  