/* @font-face {
    src: url("./assets/fonts/IRANSansWeb/IRANSansWeb.eot");
    src: url("./assets/fonts/IRANSansWeb/IRANSansWeb.ttf");
    src: url("./assets/fonts/IRANSansWeb/IRANSansWeb.woff");
    src: url("./assets/fonts/IRANSansWeb/IRANSansWeb.woff2");
    /* font-family: "iransans";
} */

/* * {
    padding: 0;
    margin: 0;
    /* font-family: "iransans";
} */

.root-foamtree .redColor {
    color: rgb(255, 0, 0);
    font-weight: bold;
    direction: ltr;
}

.root-foamtree .greenColor {
    color: rgb(9, 174, 108);
    font-weight: bold;
    direction: ltr;
}

.root-foamtree {
    width: 97%;
    margin-right: 3%;
    /* height: 100vh; */
    /* margin-bottom: 70px; */
    margin-top: 45px;
    display: flex;
    direction: rtl;
    font-family: 'Vazir';

    /* background-color: rgb(78, 71, 82); */
    /* font-family: "iransans"; */
}

.root-foamtree .details {
    width: 400px;

    /* position: sticky;
    right: 0;
    top: 0; */
    /* font-size: 0.7em; */
}

.root-foamtree .details .tableFixHead tr th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #47484a;
}

.root-foamtree .details::-webkit-scrollbar,
.root-foamtree .details .table-responsive::-webkit-scrollbar {
    display: none !important;
}

.root-foamtree .details .title {
    height: 39px;
    line-height: 39px;
    margin: 0 10px;
    background-color: #47484a;
    color: white;
    border-radius: 4px;
    margin-bottom: 53px;
}

.root-foamtree .details .items {
    border-radius: 6px;
    display: flex;
    background-color: #47484a;
    color: whitesmoke;
    height: 94vh;

}

.root-foamtree .details .table-responsive {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.root-foamtree .details .items table {
    color: white;
}

.root-foamtree .main {
    flex-grow: 1;
}

.root-foamtree .main .visualization {
    flex-grow: 1;
    height: 94vh;
    direction: ltr !important;
    font-family: "iransans" !important;
}

.root-foamtree .filter {
    /* font-family: "iransans"; */
    width: 100%;
    margin: 0 auto;
    /* padding: 10px 0; */
    box-sizing: border-box;
    text-align: right;
    direction: rtl;
    display: flex;
    margin-bottom: 52px;
}

.root-foamtree .filter .legend {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    flex-direction: row-reverse;
}

.root-foamtree .filter .legend .pallet {
    width: 48px;
    height: 23px;
    text-align: center;
    line-height: 25px;
    direction: ltr;
    margin: 1px;
    border-radius: 2px;
    color: white;
}



@media only screen and (max-width : 1100px) {

    .root-foamtree {
        flex-direction: column-reverse;
        height: auto;
        width: 100%;
        margin-right: 0;
    }

    .root-foamtree .details {
        width: 100%;
        height: auto;
    }

    .root-foamtree .filter {
        flex-direction: column-reverse;
        height: auto;
        padding: 0;

    }

    .root-foamtree .filter .legend {
        padding: 0;
        justify-content: flex-end;
        margin-bottom: 8px;
    }

    .root-foamtree .details .title {
        margin-bottom: 10px;
        margin-top: 10px;
    }

}